thead {
  height: 40px;
  background: #F9FAFB;
}

th {
  text-align: start;
  padding-left: 24px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #6B7280;
}